body {
  background: url('https://images.unsplash.com/photo-1522199670076-2852f80289c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80');
  background-size: cover;
}

#main-container {
  margin-top: 2em;
}

.left-text {
  text-align: left;
}

.btn-style {
  background: rgba(255, 134, 134, 1.0) !important;
  color: white !important;
}

.extra-space {
  margin-top: 1em !important;
}

.extra-space-bottom {
  margin-bottom: 1em !important;
}

.inactive {
  background: lightgray !important;
}

.project-container {
  min-width: 33% !important;
  max-width: 50% !important;
}

.small {
  margin-bottom: 0 !important;
}

@media only screen and (max-width: 768px) {
  .project-container {
    min-width: 100% !important;
  }
}

.task-title {
  font-size: 1.2em;
  font-weight: bolder;
}

#sgc-0-0 {
  border-left-color: red !important;
  border-left: solid;
  border-left-width: thick;
}

#sgc-0-1 {
  border-left-color: green !important;
  border-left: solid;
  border-left-width: thick;
}

.completed {
  background-color: grey !important;
}